*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("images/bg-pattern-bottom-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
}

.reviews {
  margin: 0 10%;
}
.reviews__description-rating {
  display: flex;
  flex-wrap: wrap;
}
.reviews__description {
  flex: 1 1 0;
  min-width: 300px;
}
.reviews__description h1 {
  width: 75%;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.1;
  color: hsl(300, 43%, 22%);
  padding-bottom: 2rem;
}
.reviews__description p {
  width: 77%;
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  line-height: 1.7;
}
.reviews__rating {
  flex: 1 1 0;
}
.reviews__rating-reviews, .reviews__rating-report, .reviews__rating-besttech {
  display: flex;
  background-color: hsl(300, 24%, 96%);
  margin: 1.25rem 0;
  padding: 1rem 0;
  width: 70%;
  min-width: 450px;
  border-radius: 10px;
}
.reviews__rating-reviews p, .reviews__rating-report p, .reviews__rating-besttech p {
  color: hsl(300, 43%, 22%);
  font-weight: bold;
}
.reviews__rating-reviews {
  justify-self: start;
}
.reviews__rating-report {
  justify-self: center;
}
.reviews__rating-besttech {
  justify-self: end;
}
.reviews__rating-stars {
  margin: 0 3rem;
}
.reviews__card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
  padding: 2rem 0 0;
}
.reviews__card .card {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  padding: 2.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.reviews__card .card h2 {
  font-size: 15px;
  color: hsl(0, 0%, 100%);
}
.reviews__card .card h3 {
  font-size: 15px;
  color: hsl(333, 80%, 67%);
  font-weight: normal;
}
.reviews__card .card img {
  border-radius: 100%;
  width: 3rem;
  margin-right: 1.5rem;
}
.reviews__card .card p {
  padding-top: 1.5rem;
  color: hsl(0, 0%, 100%);
  width: 100%;
  font-weight: 400;
}
.reviews__card-colton, .reviews__card-irene, .reviews__card-anne {
  flex: 1 1 0;
  min-width: 250px;
}
.reviews__card > div:nth-child(3) {
  margin-top: 2rem;
}
.reviews__card > div:nth-child(2) {
  margin-top: 1rem;
}

@media (max-width: 1013px) {
  body {
    height: auto;
  }
  .reviews {
    padding: 6rem 0;
  }
  .reviews__description {
    min-width: 100%;
  }
  .reviews__description h1, .reviews__description p {
    font-size: 32px;
    text-align: center;
    width: 90%;
  }
  .reviews__description p {
    width: 100%;
    font-size: 15px;
    padding-bottom: 2rem;
  }
  .reviews__card {
    padding-top: 0;
    width: 100%;
  }
  .reviews__card > div:nth-child(2), .reviews__card > div:nth-child(3) {
    margin-top: 0;
  }
  .reviews__card .card {
    height: auto;
  }
}
@media (max-width: 580px) {
  body {
    background-image: url("images/bg-pattern-bottom-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .reviews {
    width: 90%;
    margin: 0 5%;
  }
  .reviews__rating-reviews, .reviews__rating-report, .reviews__rating-besttech {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-self: start;
  }
  .reviews__rating-reviews p, .reviews__rating-report p, .reviews__rating-besttech p {
    text-align: center;
    width: 100%;
  }
  .reviews__rating-stars {
    padding-bottom: 0.7rem;
    display: flex;
    gap: 9px;
    justify-content: center;
    width: 100%;
  }
  .reviews__card {
    width: 100%;
    gap: 20px;
  }
  .reviews__card > div:nth-child(2), .reviews__card > div:nth-child(3) {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */