$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$ligh-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  // border: 1px solid red;
}

body {
  background-image: url("images/bg-pattern-bottom-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
}

.reviews {
  margin: 0 10%;
  &__description-rating {
    display: flex;
    flex-wrap: wrap;
  }
  &__description {
    flex: 1 1 0;
    min-width: 300px;
    h1 {
      width: 75%;
      font-size: 45px;
      font-weight: bold;
      line-height: 1.1;
      color: $very-dark-magenta;
      padding-bottom: 2rem;
    }
    p {
      width: 77%;
      color: $dark-grayish-magenta;
      font-weight: 500;
      line-height: 1.7;
    }
  }
  &__rating {
    flex: 1 1 0;
    &-reviews, &-report, &-besttech {
      display: flex;
      background-color: $ligh-grayish-magenta;
      margin: 1.25rem 0;
      padding: 1rem 0;
      width: 70%;
      min-width: 450px;
      border-radius: 10px;
      p {
        color: $very-dark-magenta;
        font-weight: bold;
      }
    }
    &-reviews {
      justify-self: start;
    }
    &-report {
      justify-self: center;
    }
    &-besttech {
      justify-self: end;
    }
    &-stars {
      margin: 0 3rem;
    }
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    height: 100%;
    padding: 2rem 0 0;

    .card {
      background-color: $very-dark-magenta;
      border-radius: 10px;
      padding: 2.5rem 2rem;
      display: flex;
      flex-wrap: wrap;
      height: 100%;

      h2 {
        font-size: 15px;
        color: $white;
      }

      h3 {
        font-size: 15px;
        color: $soft-pink;
        font-weight: normal;
      }
      
      img {
        border-radius: 100%;
        width: 3rem;
        margin-right: 1.5rem;
      }

      p {
        padding-top: 1.5rem;
        color: $white;
        width: 100%;
        font-weight: 400;
      }
    }

    &-colton, &-irene, &-anne {
      flex: 1 1 0;
      min-width: 250px;
    }

    > div:nth-child(3) {
      margin-top: 2rem;
    }

    > div:nth-child(2) {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 1013px) {
  body {
    height: auto;
  }
  .reviews {
    padding: 6rem 0;
    &__description {
      min-width: 100%;
      h1, p {
        font-size: 32px;
        text-align: center;
        width: 90%;
      }
      p {
        width: 100%;
        font-size: 15px;
        padding-bottom: 2rem;
      }
    }
    &__card {
      padding-top: 0;
      width: 100%;
      > div:nth-child(2), > div:nth-child(3) {
        margin-top: 0;
      }
      .card {
        height: auto;
      }
    }
  }
}

@media (max-width: 580px) {
  body {
    background-image: url("images/bg-pattern-bottom-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .reviews {
    width: 90%;
    margin: 0 5%;
    
    &__rating {
      &-reviews, &-report, &-besttech {
        display: flex;
        flex-wrap: wrap;
        min-width: 100%;
        justify-self: start;
        p {
          text-align: center;
          width: 100%;
        }
      }
      &-stars {
        padding-bottom: 0.7rem;
        display: flex;
        gap: 9px;
        justify-content: center;
        width: 100%;
      }
    }
    &__card {
      width: 100%;
      gap: 20px;
      > div:nth-child(2), > div:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}